.content-wrapper{
max-width: 1366px;
height: 3334px;

position: relative;
margin-left: auto;
}.css-497-353{
position: absolute;top: 2208.9998779296875px;
left: -0.21961932650073207%;
width: 100.21982486216598%;
height: 191.0001220703125px;
}
.css-497-357{
position: absolute;top: 2223px;
left: -0.21961932650073207%;
width: 100.43923865300147%;
height: 351px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-387{
position: absolute;top: 2392px;
left: 6.076134699853587%;
width: 23.206442166910687%;
height: 101px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 22px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-388{
position: absolute;top: 2304px;
left: 6.076134699853587%;
width: 21.888726207906295%;
height: 63px;
font-weight: 800;
        font-size: min(36px, 5.27086383601757vh);
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-390{
position: absolute;top: 2357px;
left: 36.89254380948023%;
width: 23.136732065136574%;
height: 115px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-389{
position: absolute;top: 2357px;
left: 36.89254380948023%;
width: 23.136732065136574%;
height: 115px;
}
.css-497-399{
position: absolute;top: 2320px;
left: 67.20351390922401%;
width: 19.39970717423133%;
height: 47px;
font-weight: 800;
        font-size: min(16px, 2.342606149341142vh);
        line-height: 22px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-400{
position: absolute;top: 2390px;
left: 70.27818448023426%;
width: 19.1800878477306%;
height: 97px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-402{
position: absolute;top: 1596.9999389648438px;
left: -0.00021447199853587116%;
width: 100.21982486216598%;
height: 191.0001678466797px;
}
.css-497-406{
position: absolute;top: 1232px;
left: -0.21961932650073207%;
width: 31.69838945827233%;
height: 545px;
}
.css-497-406 img{
width: 100%;
height: 100%;
}.css-497-413{
position: absolute;top: 1810.86669921875px;
left: 3.8897356561127383%;
width: 7.964861131168215%;
height: 40.79999923706055px;
font-weight: 700;
        font-size: min(24.933332443237305px, 3.6505611190684193vh);
        line-height: 27.200000762939453px ;
        font-family: Muli;
text-align: center;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-414{
position: absolute;top: 1810.86669921875px;
left: 18.07712984992679%;
width: 11.034651347170113%;
height: 40.79999923706055px;
font-weight: 700;
        font-size: min(24.933332443237305px, 3.6505611190684193vh);
        line-height: 27.200000762939453px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-416{
position: absolute;top: 1872.066650390625px;
left: 3.8897356561127383%;
width: 7.881893420463775%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-417{
position: absolute;top: 1872.066650390625px;
left: 19.238638703330892%;
width: 7.881893420463775%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-418{
position: absolute;top: 1963px;
left: 3.4407027818448026%;
width: 9.077598828696926%;
height: 22px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-419{
position: absolute;top: 2060.199951171875px;
left: 5.466104845351391%;
width: 4.563201468650628%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-420{
position: absolute;top: 2147.466552734375px;
left: 2.3962956396412887%;
width: 11.034651347170113%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-421{
position: absolute;top: 2147.466552734375px;
left: 17.413339014458273%;
width: 11.532455377313438%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-422{
position: absolute;top: 1940.066650390625px;
left: 18.07712984992679%;
width: 11.117618499353725%;
height: 68px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-423{
position: absolute;top: 2060.199951171875px;
left: 21.146867564970716%;
width: 3.9824305655841075%;
height: 22.66666603088379px;
font-weight: 700;
        font-size: min(15.866666793823242px, 2.3230844500473267vh);
        line-height: 22.66666603088379px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-424{
position: absolute;top: 1959px;
left: 43.77745241581259%;
width: 34.84626647144949%;
height: 160px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-425{
position: absolute;top: 1896px;
left: 43.92386530014642%;
width: 37.84773060029283%;
height: 36px;
font-weight: 700;
        font-size: min(36px, 5.27086383601757vh);
        line-height: 36px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-426{
position: absolute;top: 1296px;
left: 31.405563689604687%;
width: 68.59443631039531%;
height: 481px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-429{
position: absolute;top: 1405px;
left: 45.60761346998536%;
width: 19.25329428989751%;
height: 303px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-430{
position: absolute;top: 1338px;
left: 42.972181551976576%;
width: 28.550512445095166%;
height: 42px;
font-weight: 700;
        font-size: min(36px, 5.27086383601757vh);
        line-height: 36px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-433{
position: absolute;top: 1412px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-432{
position: absolute;top: 1412px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-431{
position: absolute;top: 1412px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-437{
position: absolute;top: 1493px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-436{
position: absolute;top: 1493px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-435{
position: absolute;top: 1493px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-441{
position: absolute;top: 1553px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-440{
position: absolute;top: 1553px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-439{
position: absolute;top: 1553px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-445{
position: absolute;top: 1613px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-444{
position: absolute;top: 1613px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-443{
position: absolute;top: 1613px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-449{
position: absolute;top: 1674px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-448{
position: absolute;top: 1674px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-447{
position: absolute;top: 1674px;
left: 43.04538799414349%;
width: 0.6588579795021963%;
height: 6.9608154296875px;
}
.css-497-428{
position: absolute;top: 1338px;
left: 42.972181551976576%;
width: 28.550512445095166%;
height: 370px;
}
.css-497-452{
position: absolute;top: 2654px;
left: 55.27086383601757%;
width: 22.547584187408493%;
height: 69px;
font-weight: 800;
        font-size: min(36px, 5.27086383601757vh);
        line-height: 36px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-453{
position: absolute;top: 2763px;
left: 55.27086383601757%;
width: 32.357247437774525%;
height: 241px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-455{
position: absolute;top: 2954px;
left: 55.27086383601757%;
width: 22.18155197657394%;
height: 50px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
border: 1px solid rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-456{
position: absolute;top: 2963px;
left: 55.27086383601757%;
width: 22.18155197657394%;
height: 41px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 32px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-497-454{
position: absolute;top: 2954px;
left: 55.27086383601757%;
width: 22.18155197657394%;
height: 50px;
}
.css-497-457{
position: absolute;top: 2658px;
left: 5.563689604685212%;
width: 45.31478770131771%;
height: 348px;
}
.css-497-457 img{
width: 100%;
height: 100%;
}.css-497-458{
position: absolute;top: 3113px;
left: -1.390922401171303%;
width: 102.7086383601757%;
height: 221px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-497-459{
position: absolute;top: 3266px;
left: 39.38506588579795%;
width: 21.59590043923865%;
height: 18px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 16.40625px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-497-461{
position: absolute;top: 3175px;
left: 52.049780380673496%;
width: 12.005856515373353%;
height: 23px;
font-weight: 400;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-462{
position: absolute;top: 3203px;
left: 52.049780380673496%;
width: 11.346998535871156%;
height: 25px;
font-weight: 400;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-497-460{
position: absolute;top: 3159px;
left: 50.219619326500734%;
width: 13.836017569546119%;
height: 73px;
}
.css-577-167{
position: absolute;top: 1119px;
left: 48.82869692532943%;
width: 23.938506588579795%;
height: 50px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
border: 1px solid rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-577-168{
position: absolute;top: 1128px;
left: 48.82869692532943%;
width: 23.938506588579795%;
height: 32px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 32px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-577-166{
position: absolute;top: 1119px;
left: 48.82869692532943%;
width: 23.938506588579795%;
height: 50px;
}
.css-577-169{
position: absolute;top: 775px;
left: 48.82869692532943%;
width: 45.534407027818446%;
height: 304px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 22px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);
}
.css-577-170{
position: absolute;top: 798px;
left: 10.395314787701318%;
width: 26.57393850658858%;
height: 372px;
border: 1px solid rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-577-171{
position: absolute;top: 775px;
left: 9.150805270863836%;
width: 26.281112737920935%;
height: 374px;
}
.css-577-171 img{
width: 100%;
height: 100%;
}.css-577-173{
position: absolute;top: 798px;
left: 7.027818448023426%;
width: 3.3674963396778916%;
height: 130.00021362304688px;
}
.css-577-178{
position: absolute;top: 798px;
left: 7.027818448023426%;
width: 3.3674963396778916%;
height: 130.00021362304688px;
}
.css-577-195{
position: absolute;top: 0px;
left: -0.07320644216691069%;
width: 100%;
height: 680px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);
}
.css-577-196{
position: absolute;top: -23px;
left: -0.07320644216691069%;
width: 101.90336749633968%;
height: 703px;
}
.css-577-196 img{
width: 100%;
height: 100%;
}.css-577-197{
position: absolute;top: -23px;
left: -1.8301610541727673%;
width: 103.66032210834553%;
height: 703px;
}
.css-577-197 img{
width: 100%;
height: 100%;
}.css-577-198{
position: absolute;top: 0px;
left: -0.07320644216691069%;
width: 100%;
height: 680px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 0.20000000298023224);
}
.css-577-200{
position: absolute;top: 255px;
left: 11.859443631039532%;
width: 4.465592972181552%;
height: 5px;
background-color:  rgba(255, 255, 255, 1);
}
.css-577-201{
position: absolute;top: 273px;
left: 11.566617862371888%;
width: 27.379209370424597%;
height: 67px;
font-weight: 900;
        font-size: min(80px, 11.71303074670571vh);
        line-height: 60px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-577-202{
position: absolute;top: 362px;
left: 11.566617862371888%;
width: 28.91654465592972%;
height: 63px;
font-weight: 600;
        font-size: min(24px, 3.513909224011713vh);
        line-height: 29px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-577-204{
position: absolute;top: 255px;
left: 2.855051244509517%;
width: 4.172767203513909%;
height: 160.00027465820312px;
}
.css-616-36{
position: absolute;top: 3154px;
left: 35.651537335285504%;
width: 13.250366032210833%;
height: 74px;
}
.css-616-36 img{
width: 100%;
height: 100%;
}.css-616-37{
position: absolute;top: 24px;
left: 1.903367496339678%;
width: 10.761346998535872%;
height: 60px;
}
.css-616-37 img{
width: 100%;
height: 100%;
}
