.css-1692-144{
position: absolute;top: 1672px;
left: 6042.7460937px;
width: 1409px;
height: 696px;

}.css-1692-150{
position: absolute;top: 2366px;
left: 6064.7460937px;
width: 1366px;
height: 515px;
background-color:  rgba(0, 0, 0, 1);

}.css-1692-145{
position: absolute;top: 1655px;
left: 6234.7460937px;
width: 472px;
height: 554px;
background-color:  rgba(0, 0, 0, 1);

}.css-1102-92{
position: absolute;top: 2259px;
left: 6234.7460937px;
width: 200px;
height: 50px;
background-color:  rgba(0, 0, 0, 1);

}.css-1102-93{
position: absolute;top: 2271.790771484375px;
left: 6234.7460937px;
width: 200px;
height: 23.255813598632812px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1102-91{
position: absolute;top: 2259px;
left: 6234.7460937px;
width: 200px;
height: 50px;

}.css-1102-90{
position: absolute;top: 2259px;
left: 6234.7460937px;
width: 200px;
height: 50px;

}.css-1083-17{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1083-18{
position: absolute;top: 2749.7906494140625px;
left: 6647.7460937px;
width: 200px;
height: 23.255813598632812px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1083-16{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;

}.css-1102-89{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;

}.css-1083-29{
position: absolute;top: 1389px;
left: 6849.7460937px;
width: 200px;
height: 50px;
background-color:  rgba(0, 0, 0, 1);

}.css-1083-30{
position: absolute;top: 1402px;
left: 6849.7460937px;
width: 200px;
height: 23px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1083-28{
position: absolute;top: 1389px;
left: 6849.7460937px;
width: 200px;
height: 50px;

}.css-1083-34{
position: absolute;top: 1126px;
left: 6849.7460937px;
width: 427px;
height: 250px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1083-32{
position: absolute;top: 1126px;
left: 6849.7460937px;
width: 427px;
height: 250px;

}.css-1083-37{
position: absolute;top: 1744px;
left: 6258.7460937px;
width: 439px;
height: 166px;
font-weight: 900;
        font-size: 70px;
        line-height: 80px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1083-39{
position: absolute;top: 1942px;
left: 6261.7460937px;
width: 154px;
height: 16.67346954345703px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1083-40{
position: absolute;top: 1976px;
left: 6261.7460937px;
width: 401px;
height: 40px;
font-weight: 800;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1083-38{
position: absolute;top: 1942px;
left: 6261.7460937px;
width: 401px;
height: 74px;

}.css-1083-46{
position: absolute;top: 2464px;
left: 6361.7460937px;
width: 771px;
height: 69px;
font-weight: 900;
        font-size: 50px;
        line-height: 70px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1083-47{
position: absolute;top: 2886px;
left: 6048.7460937px;
width: 1403px;
height: 221px;
background-color:  rgba(0, 0, 0, 1);

}.css-1083-48{
position: absolute;top: 3039px;
left: 6605.7460937px;
width: 295px;
height: 18px;
font-weight: 700;
        font-size: 14px;
        line-height: 16.40625px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1083-77{
position: absolute;top: 2948px;
left: 6778.7460937px;
width: 164px;
height: 23px;
font-weight: 400;
        font-size: 18px;
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1083-78{
position: absolute;top: 2976px;
left: 6778.7460937px;
width: 155px;
height: 25px;
font-weight: 400;
        font-size: 18px;
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1083-76{
position: absolute;top: 2932px;
left: 6753.7460937px;
width: 189px;
height: 73px;

}.css-1521-0{
position: absolute;top: 2938px;
left: 6568.7460937px;
width: 160px;
height: 65px;

}.css-1692-102{
position: absolute;top: 248.2880859375px;
left: 6068.7460937px;
width: 1366px;
height: 680px;
background-color:  rgba(16.000000946223736, 17.00000088661909, 19.0000007674098, 1);

}.css-1697-2{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1697-1{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;

}.css-1697-0{
position: absolute;top: 2737px;
left: 6647.7460937px;
width: 200px;
height: 50px;

}.css-1697-6{
position: absolute;top: 767px;
left: 6149.7460937px;
width: 200px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1697-7{
position: absolute;top: 779.790771484375px;
left: 6149.7460937px;
width: 200px;
height: 23.255813598632812px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1697-5{
position: absolute;top: 767px;
left: 6149.7460937px;
width: 200px;
height: 50px;

}.css-1697-4{
position: absolute;top: 767px;
left: 6149.7460937px;
width: 200px;
height: 50px;

}.css-1692-108{
position: absolute;top: 291px;
left: 6101.7460937px;
width: 133px;
height: 54px;

}.css-1692-109{
position: absolute;top: 440.287841796875px;
left: 6149.7460937px;
width: 100px;
height: 5px;
background-color:  rgba(255, 255, 255, 1);

}.css-1692-110{
position: absolute;top: 458px;
left: 6145.7460937px;
width: 639px;
height: 189px;
font-weight: 900;
        font-size: 80px;
        line-height: 90px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1692-111{
position: absolute;top: 669px;
left: 6149.7460937px;
width: 473px;
height: 63px;
font-weight: 600;
        font-size: 24px;
        line-height: 29px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1692-140{
position: absolute;top: 2026px;
left: 6265.7460937px;
width: 363px;
height: 81px;
font-weight: 700;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1692-141{
position: absolute;top: 2112px;
left: 6260.7460937px;
width: 421px;
height: 40px;
font-weight: 800;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1692-148{
position: absolute;top: 1945px;
left: 6983.7460937px;
width: 485px;
height: 423px;
background-color:  rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);

}.css-1692-149{
position: absolute;top: 1945px;
left: 6983.7460937px;
width: 485px;
height: 423px;

}.css-1695-6{
position: absolute;top: 2567px;
left: 6324.7460937px;
width: 855px;
height: 114px;
font-weight: 700;
        font-size: 32px;
        line-height: 38px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1708-0{
position: absolute;top: 1126px;
left: 6234.7460937px;
width: 472px;
height: 313px;

}.css-1708-1{
position: absolute;top: 248px;
left: 6651.7460937px;
width: 783px;
height: 680px;

}.css-1828-1{
position: absolute;top: 1459px;
left: 6534.7460937px;
width: 223px;
height: 135px;
background-color:  rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);

}.css-1083-3{
position: absolute;top: -2658px;
left: 7120.7460937px;
width: 1923px;
height: 1203px;

}.css-1083-4{
position: absolute;top: 7889px;
left: 3612.7460936999996px;
width: 75.3403091430664px;
height: 19.734098434448242px;
font-weight: 400;
        font-size: 14px;
        line-height: 16.40625px ;
        font-family: Open Sans;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-204{
position: absolute;top: -0.7021484375px;
left: -5.00003807246685e-8px;
width: 1377px;
height: 919px;

}.css-1898-205{
position: absolute;top: 238px;
left: 27.74609369999962px;
width: 1366px;
height: 680px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 0.20000000298023224);

}.css-1898-333{
position: absolute;top: -632px;
left: -38.25390630000038px;
width: 1234.627685546875px;
height: 1222.0330810546875px;

}.css-1932-331{
position: absolute;top: -632px;
left: -38.25390630000038px;
width: 1432px;
height: 1550.2978515625px;

}.css-1898-206{
position: absolute;top: 3014.9998779296875px;
left: -154.25390630000038px;
width: 1667px;
height: 930.0001220703125px;

}.css-1898-207{
position: absolute;top: 3488px;
left: 27.74609369999962px;
width: 1366px;
height: 511px;
background-color:  rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);

}.css-1898-208{
position: absolute;top: 3782px;
left: 112.74609369999962px;
width: 497px;
height: 33px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-209{
position: absolute;top: 3781px;
left: 787.7460936999996px;
width: 497px;
height: 33px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-214{
position: absolute;top: 2480px;
left: 112.74609369999962px;
width: 337px;
height: 449px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-213{
position: absolute;top: 2480px;
left: 112.74609369999962px;
width: 337px;
height: 449px;

}.css-1898-216{
position: absolute;top: 2480px;
left: 549.7460936999996px;
width: 309px;
height: 355px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-215{
position: absolute;top: 2480px;
left: 549.7460936999996px;
width: 309px;
height: 355px;

}.css-1898-218{
position: absolute;top: 2480px;
left: 996.7460936999996px;
width: 295px;
height: 355px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-217{
position: absolute;top: 2480px;
left: 996.7460936999996px;
width: 295px;
height: 355px;

}.css-1898-220{
position: absolute;top: 3619px;
left: 132.64062494999962px;
width: 470.7928771972656px;
height: 124px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-221{
position: absolute;top: 3809px;
left: 130.74609369999962px;
width: 503px;
height: 129px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-219{
position: absolute;top: 3619px;
left: 130.74609369999962px;
width: 503px;
height: 319px;

}.css-1898-223{
position: absolute;top: 3619px;
left: 807.7460936999996px;
width: 468.9209289550781px;
height: 124px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-224{
position: absolute;top: 3809px;
left: 807.7460936999996px;
width: 501px;
height: 90px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-222{
position: absolute;top: 3619px;
left: 807.7460936999996px;
width: 501px;
height: 280px;

}.css-1898-228{
position: absolute;top: 293px;
left: 44.74609369999962px;
width: 160px;
height: 65px;

}.css-1898-229{
position: absolute;top: 1712px;
left: 27.74609369999962px;
width: 1366px;
height: 502px;
background-color:  rgba(10.000000353902578, 10.000000353902578, 10.000000353902578, 1);

}.css-1898-230{
position: absolute;top: 2300px;
left: 112.74609369999962px;
width: 382px;
height: 104px;
font-weight: 900;
        font-size: 36px;
        line-height: 35px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-232{
position: absolute;top: 2434px;
left: 112.74609369999962px;
width: 51px;
height: 42px;
font-weight: 800;
        font-size: 36px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-233{
position: absolute;top: 2434px;
left: 549.7460936999996px;
width: 51px;
height: 42px;
font-weight: 800;
        font-size: 36px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-234{
position: absolute;top: 2434px;
left: 996.7460936999996px;
width: 51px;
height: 42px;
font-weight: 800;
        font-size: 36px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-235{
position: absolute;top: 2438px;
left: 163.74609369999962px;
width: 272px;
height: 35px;
font-weight: 800;
        font-size: 18px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-236{
position: absolute;top: 2438px;
left: 600.7460936999996px;
width: 272px;
height: 35px;
font-weight: 800;
        font-size: 18px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-237{
position: absolute;top: 2438px;
left: 1047.7460936999996px;
width: 272px;
height: 35px;
font-weight: 800;
        font-size: 18px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-238{
position: absolute;top: 3577px;
left: 112.74609369999962px;
width: 272px;
height: 35px;
font-weight: 800;
        font-size: 18px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-239{
position: absolute;top: 3577px;
left: 787.7460936999996px;
width: 272px;
height: 35px;
font-weight: 800;
        font-size: 18px;
        line-height: 32px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-I1898-240-1828-75{
position: absolute;top: 3631px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-240-1828-74{
position: absolute;top: 3631px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-241-1828-75{
position: absolute;top: 3631px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-241-1828-74{
position: absolute;top: 3631px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-242-1828-75{
position: absolute;top: 3741px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-242-1828-74{
position: absolute;top: 3741px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-243-1828-75{
position: absolute;top: 3659px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-243-1828-74{
position: absolute;top: 3659px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-244-1828-75{
position: absolute;top: 3687px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-244-1828-74{
position: absolute;top: 3687px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-245-1828-75{
position: absolute;top: 3687px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-245-1828-74{
position: absolute;top: 3687px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-246-1828-75{
position: absolute;top: 3715px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-246-1828-74{
position: absolute;top: 3715px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-247-1828-75{
position: absolute;top: 3715px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-247-1828-74{
position: absolute;top: 3715px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-248-1828-75{
position: absolute;top: 3743px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-248-1828-74{
position: absolute;top: 3743px;
left: 787.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-249-1828-75{
position: absolute;top: 3821px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-249-1828-74{
position: absolute;top: 3821px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-250-1828-75{
position: absolute;top: 3821px;
left: 789.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-250-1828-74{
position: absolute;top: 3821px;
left: 789.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-251-1828-75{
position: absolute;top: 3849px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-251-1828-74{
position: absolute;top: 3849px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-252-1828-75{
position: absolute;top: 3849px;
left: 789.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-252-1828-74{
position: absolute;top: 3849px;
left: 789.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-253-1828-75{
position: absolute;top: 3877px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-253-1828-74{
position: absolute;top: 3877px;
left: 112.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-254{
position: absolute;top: 5271px;
left: 27.74609369999962px;
width: 1366px;
height: 441px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);

}.css-1898-260{
position: absolute;top: 526px;
left: 112.74609369999962px;
width: 100px;
height: 5px;
background-color:  rgba(255, 255, 255, 1);

}.css-1898-261{
position: absolute;top: 543.712158203125px;
left: 112.74609369999962px;
width: 639px;
height: 189px;
font-weight: 900;
        font-size: 80px;
        line-height: 90px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-262{
position: absolute;top: 745px;
left: 112.74609369999962px;
width: 421px;
height: 107px;
font-weight: 600;
        font-size: 24px;
        line-height: 29px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-263{
position: absolute;top: 3015px;
left: 112.74609369999962px;
width: 436px;
height: 377px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);

}.css-1898-265{
position: absolute;top: 3180px;
left: 165.74609369999962px;
width: 343px;
height: 166px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-264{
position: absolute;top: 3180px;
left: 165.74609369999962px;
width: 343px;
height: 166px;

}.css-1898-266{
position: absolute;top: 3076px;
left: 165.74609369999962px;
width: 421px;
height: 76px;
font-weight: 800;
        font-size: 36px;
        line-height: 38px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-267{
position: absolute;top: 5715px;
left: 9.74609369999962px;
width: 1403px;
height: 260px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);

}.css-1898-268{
position: absolute;top: 5911px;
left: 565.7460936999996px;
width: 295px;
height: 18px;
font-weight: 700;
        font-size: 14px;
        line-height: 16.40625px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-270{
position: absolute;top: 5792px;
left: 738.7460936999996px;
width: 164px;
height: 23px;
font-weight: 400;
        font-size: 18px;
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-271{
position: absolute;top: 5820px;
left: 738.7460936999996px;
width: 155px;
height: 25px;
font-weight: 400;
        font-size: 18px;
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-269{
position: absolute;top: 5776px;
left: 713.7460936999996px;
width: 189px;
height: 73px;

}.css-1898-273{
position: absolute;top: 5775px;
left: 514.7460936999996px;
width: 181px;
height: 74px;

}.css-I1898-274-1828-75{
position: absolute;top: 5028px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-274-1828-74{
position: absolute;top: 5028px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-275-1828-75{
position: absolute;top: 5086px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-275-1828-74{
position: absolute;top: 5086px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-276-1828-75{
position: absolute;top: 5142px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-I1898-276-1828-74{
position: absolute;top: 5142px;
left: 763.7460936999996px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-277{
position: absolute;top: 4821px;
left: 27.74609369999962px;
width: 383px;
height: 450px;

}.css-1898-278{
position: absolute;top: 5028px;
left: 219.74609369999962px;
width: 400px;
height: 120px;
font-weight: 900;
        font-size: 50px;
        line-height: 60px ;
        font-family: Muli;
text-align: left;color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);

}.css-1898-280{
position: absolute;top: 5155px;
left: 225.74609369999962px;
width: 371px;
height: 30px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-279{
position: absolute;top: 5155px;
left: 225.74609369999962px;
width: 371px;
height: 30px;

}.css-1898-281{
position: absolute;top: 5019px;
left: 781.7460936999996px;
width: 444px;
height: 196px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-282{
position: absolute;top: 3998px;
left: 26.74609369999962px;
width: 1367px;
height: 828px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 1);

}.css-1898-283{
position: absolute;top: 4202px;
left: 213.74609369999962px;
width: 992px;
height: 58px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 9px;

}.css-1898-284{
position: absolute;top: 4480px;
left: 239.74609369999962px;
width: 417px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 27px;

}.css-1898-285{
position: absolute;top: 4480px;
left: 760.7460936999996px;
width: 415px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 27px;

}.css-1898-286{
position: absolute;top: 4094px;
left: 111.74609369999962px;
width: 517px;
height: 38px;
font-weight: 800;
        font-size: 36px;
        line-height: 38px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-287{
position: absolute;top: 4213px;
left: 553.7460936999996px;
width: 312px;
height: 35px;
font-weight: 700;
        font-size: 30px;
        line-height: 38px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-288{
position: absolute;top: 4318px;
left: 212.74609369999962px;
width: 472px;
height: 28px;
font-weight: 700;
        font-size: 26px;
        line-height: 30px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-292{
position: absolute;top: 4632px;
left: 213.74609369999962px;
width: 230px;
height: 23px;
font-weight: 700;
        font-size: 26px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-293{
position: absolute;top: 4632px;
left: 443.7460936999996px;
width: 266px;
height: 23px;
font-weight: 700;
        font-size: 26px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-294{
position: absolute;top: 4632px;
left: 709.7460936999996px;
width: 260px;
height: 23px;
font-weight: 700;
        font-size: 26px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-295{
position: absolute;top: 4632px;
left: 969.7460936999996px;
width: 233px;
height: 23px;
font-weight: 700;
        font-size: 26px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-296{
position: absolute;top: 4492px;
left: 280.7460936999996px;
width: 336px;
height: 23px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-300{
position: absolute;top: 4324px;
left: 732.7460936999996px;
width: 470px;
height: 27px;
font-weight: 700;
        font-size: 26px;
        line-height: 30px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-301{
position: absolute;top: 4296px;
left: 212.74609369999962px;
width: 472px;
height: 270px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 9px;

}.css-1898-302{
position: absolute;top: 4602px;
left: 213.74609369999962px;
width: 992px;
height: 84px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 9px;

}.css-1898-303{
position: absolute;top: 4296px;
left: 732.7460936999996px;
width: 472px;
height: 270px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 9px;

}.css-1898-304{
position: absolute;top: 4368px;
left: 212.74609369999962px;
width: 472px;
height: 0px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-305{
position: absolute;top: 4368px;
left: 732.7460936999996px;
width: 472px;
height: 0px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-307{
position: absolute;top: 4613px;
left: 443.7460936999996px;
width: 0px;
height: 61px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-308{
position: absolute;top: 4613px;
left: 709.7460936999996px;
width: 0px;
height: 61px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-309{
position: absolute;top: 4613px;
left: 969.7460936999996px;
width: 0px;
height: 61px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-289{
position: absolute;top: 4398px;
left: 228.74609369999962px;
width: 130px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-291{
position: absolute;top: 4398px;
left: 383.7460936999996px;
width: 129px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-298{
position: absolute;top: 4398px;
left: 537.7460936999996px;
width: 130px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-306{
position: absolute;top: 4392px;
left: 365.7460936999996px;
width: 0px;
height: 60px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-311{
position: absolute;top: 4392px;
left: 537.7460936999996px;
width: 0px;
height: 60px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-404{
position: absolute;top: 4392px;
left: 228.74609369999962px;
width: 439px;
height: 60px;

}.css-1898-290{
position: absolute;top: 4399px;
left: 761.7460936999996px;
width: 129px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-297{
position: absolute;top: 4399px;
left: 903.7460936999996px;
width: 130px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-299{
position: absolute;top: 4399px;
left: 1046.7460936999996px;
width: 129px;
height: 46px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-310{
position: absolute;top: 4392px;
left: 897.7460936999996px;
width: 0px;
height: 60px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-312{
position: absolute;top: 4392px;
left: 1046.7460936999996px;
width: 0px;
height: 60px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1898-405{
position: absolute;top: 4392px;
left: 761.7460936999996px;
width: 414px;
height: 60px;

}.css-1898-313{
position: absolute;top: 4492px;
left: 779.7460936999996px;
width: 378px;
height: 23px;
font-weight: 700;
        font-size: 20px;
        line-height: 25px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-332{
position: absolute;top: 1712px;
left: 857.7460936999996px;
width: 601px;
height: 502px;

}.css-1898-255{
position: absolute;top: 5569px;
left: 212.74609369999962px;
width: 200px;
height: 50px;
background-color:  rgba(255, 255, 255, 1);

}.css-1898-256{
position: absolute;top: 5582px;
left: 212.74609369999962px;
width: 200px;
height: 25px;
font-weight: 800;
        font-size: 16px;
        line-height: 18.75px ;
        font-family: Muli;
text-align: center;color:  rgba(0, 0, 0, 1);

}.css-1898-258{
position: absolute;top: 5428px;
left: 212.74609369999962px;
width: 997px;
height: 85px;
font-weight: 700;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-259{
position: absolute;top: 5365px;
left: 212.74609369999962px;
width: 515px;
height: 38px;
font-weight: 800;
        font-size: 36px;
        line-height: 38px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-257{
position: absolute;top: 5365px;
left: 212.74609369999962px;
width: 997px;
height: 148px;

}.css-1898-343{
position: absolute;top: 5516px;
left: 212.74609369999962px;
width: 430px;
height: 37px;
font-weight: 800;
        font-size: 18px;
        line-height: 35px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-403{
position: absolute;top: 5365px;
left: 212.74609369999962px;
width: 997px;
height: 254px;

}.css-1898-212{
position: absolute;top: 1055px;
left: 521.7460936999996px;
width: 775px;
height: 391px;
font-weight: 700;
        font-size: 14px;
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-211{
position: absolute;top: 1055px;
left: 521.7460936999996px;
width: 775px;
height: 391px;

}.css-1898-226{
position: absolute;top: 1526px;
left: 521.7460936999996px;
width: 200px;
height: 50px;
background-color:  rgba(0, 0, 0, 1);

}.css-1898-227{
position: absolute;top: 1539px;
left: 521.7460936999996px;
width: 200px;
height: 23px;
font-weight: 800;
        font-size: 16px;
        line-height: 18.75px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1898-225{
position: absolute;top: 1526px;
left: 521.7460936999996px;
width: 200px;
height: 50px;

}.css-1898-231{
position: absolute;top: 1465px;
left: 521.7460936999996px;
width: 679px;
height: 37px;
font-weight: 800;
        font-size: 18px;
        line-height: 35px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);

}.css-1898-396{
position: absolute;top: 1063px;
left: 104.74609369999962px;
width: 368px;
height: 513px;

}.css-1898-317{
position: absolute;top: 1922px;
left: 150.74609369999962px;
width: 646px;
height: 206px;
font-weight: 700;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-318{
position: absolute;top: 1798px;
left: 114.74609369999962px;
width: 348px;
height: 42px;
font-weight: 900;
        font-size: 36px;
        line-height: 36px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-321{
position: absolute;top: 1930px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-320{
position: absolute;top: 1930px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-319{
position: absolute;top: 1930px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-325{
position: absolute;top: 2010px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-324{
position: absolute;top: 2010px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-323{
position: absolute;top: 2010px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-329{
position: absolute;top: 2050px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-328{
position: absolute;top: 2050px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-327{
position: absolute;top: 2050px;
left: 115.74609369999962px;
width: 9px;
height: 6.9608154296875px;

}.css-1898-316{
position: absolute;top: 1798px;
left: 114.74609369999962px;
width: 682px;
height: 330px;

}.css-1898-331{
position: absolute;top: 1864px;
left: 113.74609369999962px;
width: 638px;
height: 27px;
font-weight: 700;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1898-315{
position: absolute;top: 1798px;
left: 113.74609369999962px;
width: 683px;
height: 330px;

}.css-1828-75{
position: absolute;top: 2102px;
left: 4101.7460937px;
width: 9px;
height: 6.9608154296875px;

}.css-1828-74{
position: absolute;top: 2102px;
left: 4101.7460937px;
width: 9px;
height: 6.9608154296875px;

}.css-1083-119{
position: absolute;top: -1340px;
left: 7120.7460937px;
width: 1923px;
height: 1101px;

}.css-1913-97{
position: absolute;top: 100px;
left: 1634.9999999499996px;
width: 1377px;
height: 919px;

}.css-1913-98{
position: absolute;top: 251px;
left: 1645.7460936999996px;
width: 1366px;
height: 768px;
background-color:  rgba(31.000000052154064, 31.000000052154064, 31.000000052154064, 0.20000000298023224);

}.css-1913-99{
position: absolute;top: -535px;
left: 1596.7460936999996px;
width: 1234.627685546875px;
height: 1222.0330810546875px;

}.css-1913-1{
position: absolute;top: 248px;
left: 1645.7460936999996px;
width: 1366px;
height: 771px;

}.css-1913-6{
position: absolute;top: 912px;
left: 2837.7460936999996px;
width: 127px;
height: 59px;
font-weight: 400;
        font-size: 14px;
        line-height: 20px ;
        font-family: Muli;
color:  rgba(255, 255, 255, 1);

}.css-1914-53{
position: absolute;top: 849px;
left: 2826.7460936999996px;
width: 149px;
height: 61px;

}.css-1917-6{
position: absolute;top: 792px;
left: 1747.7460936999996px;
width: 320px;
height: 50px;
background-color:  rgba(255, 255, 255, 1);

}.css-1917-7{
position: absolute;top: 805px;
left: 1747.7460936999996px;
width: 320px;
height: 23px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(0, 0, 0, 1);

}.css-1917-5{
position: absolute;top: 792px;
left: 1747.7460936999996px;
width: 320px;
height: 50px;

}.css-1917-8{
position: absolute;top: 570px;
left: 1747.7460936999996px;
width: 304px;
height: 83px;
font-weight: 900;
        font-size: 60px;
        line-height: 75.9000015258789px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1917-9{
position: absolute;top: 663px;
left: 1747.7460936999996px;
width: 362px;
height: 93px;
font-weight: 700;
        font-size: 18px;
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-19{
position: absolute;top: 2099px;
left: 1723.7460936999996px;
width: 414px;
height: 50px;
background-color:  rgba(47.0000009983778, 152.0000061392784, 153.00000607967377, 1);

}.css-1913-20{
position: absolute;top: 2115px;
left: 1860.6071776843746px;
width: 140.19049072265625px;
height: 17px;
font-weight: 700;
        font-size: 18px;
        line-height: 18.75px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);

}.css-1913-18{
position: absolute;top: 2099px;
left: 1723.7460936999996px;
width: 414px;
height: 50px;

}.css-1913-23{
position: absolute;top: 1374px;
left: 1726.7460936999996px;
width: 415.20635986328125px;
height: 9px;
font-weight: 700;
        font-size: 14px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-24{
position: absolute;top: 1398px;
left: 1726.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-27{
position: absolute;top: 1681px;
left: 1726.7460936999996px;
width: 416.21905517578125px;
height: 9px;
font-weight: 700;
        font-size: 14px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-28{
position: absolute;top: 1705px;
left: 1726.7460936999996px;
width: 411px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1914-50{
position: absolute;top: 1751px;
left: 1726.7460936999996px;
width: 410.1428527832031px;
height: 29px;
font-weight: 700;
        font-size: 14px;
        line-height: 18px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-31{
position: absolute;top: 1459px;
left: 1726.7460936999996px;
width: 415px;
height: 9px;
font-weight: 700;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-34{
position: absolute;top: 1521px;
left: 1726.7460936999996px;
width: 415px;
height: 9px;
font-weight: 700;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-36{
position: absolute;top: 1555px;
left: 1726.7460936999996px;
width: 409.7962341308594px;
height: 15px;
font-weight: 700;
        font-size: 14px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(224.18749898672104, 117.94130891561508, 111.159638017416, 1);

}.css-1913-39{
position: absolute;top: 1928px;
left: 1731.7460936999996px;
width: 9px;
height: 12px;
font-weight: 400;
        font-size: 9px;
        line-height: 11.6015625px ;
        font-family: Font Awesome 5 Free;
text-align: left;color:  rgba(67.00000360608101, 180.00000447034836, 180.00000447034836, 1);

}.css-1913-44{
position: absolute;top: 1925px;
left: 1751.7460936999996px;
width: 385px;
height: 16px;
font-weight: 700;
        font-size: 14px;
        line-height: 16.100000381469727px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-43{
position: absolute;top: 1925px;
left: 1751.7460936999996px;
width: 385px;
height: 16px;

}.css-1913-42{
position: absolute;top: 1925px;
left: 1751.7460936999996px;
width: 385px;
height: 16px;

}.css-1913-45{
position: absolute;top: 1924px;
left: 1726.7460936999996px;
width: 18px;
height: 18px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1913-41{
position: absolute;top: 1924px;
left: 1726.7460936999996px;
width: 410px;
height: 18px;

}.css-1913-49{
position: absolute;top: 1889px;
left: 1756.7460936999996px;
width: 247px;
height: 16px;
font-weight: 700;
        font-size: 14px;
        line-height: 16.100000381469727px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-48{
position: absolute;top: 1889px;
left: 1756.7460936999996px;
width: 247px;
height: 16px;

}.css-1913-47{
position: absolute;top: 1889px;
left: 1756.7460936999996px;
width: 247px;
height: 16px;

}.css-1913-50{
position: absolute;top: 1889px;
left: 1726.7460936999996px;
width: 18px;
height: 18px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1913-51{
position: absolute;top: 1893.5px;
left: 1731.2460936999996px;
width: 9px;
height: 12px;
font-weight: 400;
        font-size: 9px;
        line-height: 11.6015625px ;
        font-family: Font Awesome 5 Free;
text-align: left;color:  rgba(67.00000360608101, 180.00000447034836, 180.00000447034836, 1);

}.css-1913-46{
position: absolute;top: 1889px;
left: 1726.7460936999996px;
width: 277px;
height: 18px;

}.css-1913-40{
position: absolute;top: 1889px;
left: 1726.7460936999996px;
width: 410px;
height: 53px;

}.css-1913-38{
position: absolute;top: 1889px;
left: 1726.7460936999996px;
width: 410px;
height: 53px;

}.css-1913-54{
position: absolute;top: 1965px;
left: 1726.7460936999996px;
width: 410px;
height: 108px;
font-weight: 700;
        font-size: 14px;
        line-height: 17.709999084472656px ;
        font-family: Muli;
color:  rgba(255, 255, 255, 1);

}.css-1913-53{
position: absolute;top: 1965px;
left: 1726.7460936999996px;
width: 410px;
height: 108px;

}.css-1913-52{
position: absolute;top: 1965px;
left: 1726.7460936999996px;
width: 410px;
height: 108px;

}.css-1913-57{
position: absolute;top: 1601px;
left: 1726.7460936999996px;
width: 415.20635986328125px;
height: 9px;
font-weight: 700;
        font-size: 14px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-58{
position: absolute;top: 1625px;
left: 1726.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1918-61{
position: absolute;top: 1606px;
left: 1726.7460936999996px;
width: 410px;
height: 44px;

}.css-1913-61{
position: absolute;top: 1258px;
left: 1725.7460936999996px;
width: 319px;
height: 85px;
font-weight: 700;
        font-size: 34px;
        line-height: 48px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-62{
position: absolute;top: 2056px;
left: 2061.7460936999996px;
width: 76px;
height: 18px;
font-weight: 900;
        font-size: 14px;
        line-height: 17.709999084472656px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1913-63{
position: absolute;top: 2172px;
left: 1887.7460936999996px;
width: 85px;
height: 18px;
font-weight: 900;
        font-size: 14px;
        line-height: 17.709999084472656px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1918-0{
position: absolute;top: 1780px;
left: 1726.7460936999996px;
width: 411px;
height: 91px;
border: 1px solid rgba(255, 255, 255, 1);

}.css-1918-63{
position: absolute;top: 1244px;
left: 1726.7460936999996px;
width: 29px;
height: 3px;
background-color:  rgba(255, 255, 255, 1);

}.css-1943-80{
position: absolute;top: 1225px;
left: 2308.7460936999996px;
width: 412px;
height: 348px;
background-color:  rgba(0, 0, 0, 1);
border: 1px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
border-radius: 2px;

}.css-1943-69{
position: absolute;top: 1241px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-70{
position: absolute;top: 1271px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-71{
position: absolute;top: 1301px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-72{
position: absolute;top: 1331px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-73{
position: absolute;top: 1361px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-74{
position: absolute;top: 1391px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-75{
position: absolute;top: 1421px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-76{
position: absolute;top: 1451px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-77{
position: absolute;top: 1481px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-78{
position: absolute;top: 1511px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-79{
position: absolute;top: 1541px;
left: 2323.7460936999996px;
width: 410px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}.css-1943-67{
position: absolute;top: 1203px;
left: 2324.824096629687px;
width: 412px;
height: 15px;
font-weight: 400;
        font-size: 18px;
        line-height: 10px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);

}