.content-wrapper{
max-width: 1366px;
height: 2859px;
overflow: hidden;
position: relative;
margin: auto;
}.css-1692-144{
position: absolute;top: 1424px;
left: -1.903367496339678%;
width: 103.14787701317715%;
height: 696px;
}
.css-1692-144 img{
width: 100%;
height: 100%;                               
}.css-1692-150{
position: absolute;top: 2118px;
left: -0.29282576866764276%;
width: 100%;
height: 515px;
background-color:  rgba(0, 0, 0, 1);
}
.css-1692-145{
position: absolute;top: 1407px;
left: 12.152269399707174%;
width: 34.55344070278185%;
height: 554px;
background-color:  rgba(0, 0, 0, 1);
}
.css-1102-92{
position: absolute;top: 2011px;
left: 12.152269399707174%;
width: 14.641288433382138%;
height: 50px;
background-color:  rgba(0, 0, 0, 1);
}
.css-1102-93{
position: absolute;top: 2023.790771484375px;
left: 12.152269399707174%;
width: 14.641288433382138%;
height: 23.255813598632812px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1102-91{
position: absolute;top: 2011px;
left: 12.152269399707174%;
width: 14.641288433382138%;
height: 50px;
}
.css-1102-90{
position: absolute;top: 2011px;
left: 12.152269399707174%;
width: 14.641288433382138%;
height: 50px;
}
.css-1083-17{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);
}
.css-1083-18{
position: absolute;top: 2501.7906494140625px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 23.255813598632812px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1083-16{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
}
.css-1102-89{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
}
.css-1083-29{
position: absolute;top: 1141px;
left: 57.17423133235725%;
width: 14.641288433382138%;
height: 50px;
background-color:  rgba(0, 0, 0, 1);
}
.css-1083-30{
position: absolute;top: 1154px;
left: 57.17423133235725%;
width: 14.641288433382138%;
height: 23px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1083-28{
position: absolute;top: 1141px;
left: 57.17423133235725%;
width: 14.641288433382138%;
height: 50px;
}
.css-1083-34{
position: absolute;top: 878px;
left: 57.17423133235725%;
width: 31.259150805270863%;
height: 250px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 28px ;
        font-family: Muli;
text-align: left;color:  rgba(0, 0, 0, 1);
}
.css-1083-32{
position: absolute;top: 878px;
left: 57.17423133235725%;
width: 31.259150805270863%;
height: 250px;
}
.css-1083-37{
position: absolute;top: 1496px;
left: 13.90922401171303%;
width: 32.13762811127379%;
height: 166px;
font-weight: 900;
        font-size: min(70px, 10.248901903367496vh);
        line-height: 80px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1083-39{
position: absolute;top: 1694px;
left: 14.128843338213763%;
width: 11.273792093704246%;
height: 16.67346954345703px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1083-40{
position: absolute;top: 1728px;
left: 14.128843338213763%;
width: 29.355783308931187%;
height: 40px;
font-weight: 800;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1083-38{
position: absolute;top: 1694px;
left: 14.128843338213763%;
width: 29.355783308931187%;
height: 74px;
}
.css-1083-46{
position: absolute;top: 2216px;
left: 21.44948755490483%;
width: 56.442166910688144%;
height: 69px;
font-weight: 900;
        font-size: min(50px, 7.320644216691069vh);
        line-height: 70px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1083-47{
position: absolute;top: 2638px;
left: -1.4641288433382138%;
width: 102.7086383601757%;
height: 221px;
background-color:  rgba(0, 0, 0, 1);
}
.css-1083-48{
position: absolute;top: 2791px;
left: 39.31185944363104%;
width: 21.59590043923865%;
height: 18px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 16.40625px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1083-77{
position: absolute;top: 2700px;
left: 51.97657393850659%;
width: 12.005856515373353%;
height: 23px;
font-weight: 400;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1083-78{
position: absolute;top: 2728px;
left: 51.97657393850659%;
width: 11.346998535871156%;
height: 25px;
font-weight: 400;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 21.09375px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1083-76{
position: absolute;top: 2684px;
left: 50.14641288433383%;
width: 13.836017569546119%;
height: 73px;
}
.css-1521-0{
position: absolute;top: 2690px;
left: 36.603221083455345%;
width: 11.71303074670571%;
height: 65px;
}
.css-1521-0 img{
width: 100%;
height: 100%;                               
}.css-1692-102{
position: absolute;top: 0.2880859375px;
left: 0%;
width: 100%;
height: 680px;
background-color:  rgba(16.000000946223736, 17.00000088661909, 19.0000007674098, 1);
}
.css-1697-2{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);
}
.css-1697-1{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
}
.css-1697-0{
position: absolute;top: 2489px;
left: 42.38653001464129%;
width: 14.641288433382138%;
height: 50px;
}
.css-1697-6{
position: absolute;top: 519px;
left: 5.929721815519766%;
width: 14.641288433382138%;
height: 50px;
border: 1px solid rgba(255, 255, 255, 1);
}
.css-1697-7{
position: absolute;top: 531.790771484375px;
left: 5.929721815519766%;
width: 14.641288433382138%;
height: 23.255813598632812px;
font-weight: 700;
        font-size: min(18px, 2.635431918008785vh);
        line-height: 20px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1697-5{
position: absolute;top: 519px;
left: 5.929721815519766%;
width: 14.641288433382138%;
height: 50px;
}
.css-1697-4{
position: absolute;top: 519px;
left: 5.929721815519766%;
width: 14.641288433382138%;
height: 50px;
}
.css-1692-108{
position: absolute;top: 43px;
left: 2.4158125915080526%;
width: 9.736456808199122%;
height: 54px;
}
.css-1692-108 img{
width: 100%;
height: 100%;                               
}.css-1692-109{
position: absolute;top: 192.287841796875px;
left: 5.929721815519766%;
width: 7.320644216691069%;
height: 5px;
background-color:  rgba(255, 255, 255, 1);
}
.css-1692-110{
position: absolute;top: 210px;
left: 5.636896046852123%;
width: 46.77891654465593%;
height: 189px;
font-weight: 900;
        font-size: min(80px, 11.71303074670571vh);
        line-height: 90px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1692-111{
position: absolute;top: 421px;
left: 5.929721815519766%;
width: 34.626647144948755%;
height: 63px;
font-weight: 600;
        font-size: min(24px, 3.513909224011713vh);
        line-height: 29px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1692-140{
position: absolute;top: 1778px;
left: 14.421669106881405%;
width: 26.57393850658858%;
height: 81px;
font-weight: 700;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1692-141{
position: absolute;top: 1864px;
left: 14.055636896046853%;
width: 30.819912152269403%;
height: 40px;
font-weight: 800;
        font-size: min(14px, 2.049780380673499vh);
        line-height: 20px ;
        font-family: Muli;
text-align: left;color:  rgba(255, 255, 255, 1);
}
.css-1692-148{
position: absolute;top: 1697px;
left: 66.98389458272328%;
width: 35.50512445095168%;
height: 423px;
background-color:  rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
}
.css-1692-149{
position: absolute;top: 1697px;
left: 66.98389458272328%;
width: 35.50512445095168%;
height: 423px;
}
.css-1695-6{
position: absolute;top: 2319px;
left: 18.740849194729137%;
width: 62.59150805270863%;
height: 114px;
font-weight: 700;
        font-size: min(32px, 4.685212298682284vh);
        line-height: 38px ;
        font-family: Muli;
text-align: center;color:  rgba(255, 255, 255, 1);
}
.css-1708-0{
position: absolute;top: 878px;
left: 12.152269399707174%;
width: 34.55344070278185%;
height: 313px;
}
.css-1708-0 img{
width: 100%;
height: 100%;                               
}.css-1708-1{
position: absolute;top: 0px;
left: 42.67935578330893%;
width: 57.320644216691065%;
height: 680px;
}
.css-1708-1 img{
width: 100%;
height: 100%;                               
}